

/* Start:/bitrix/templates/corp_services_gray/components/bitrix/news.list/mainpage_services/style.css?1526395179150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/corp_services_gray/components/bitrix/news.list/main_advantages/style.css?1526490705150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/components/bitrix/news.list/templates/.default/style.css?1526377641150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/corp_services_gray/components/bitrix/news.list/mainpage_services/style.css?1526395179150 */
/* /bitrix/templates/corp_services_gray/components/bitrix/news.list/main_advantages/style.css?1526490705150 */
/* /bitrix/components/bitrix/news.list/templates/.default/style.css?1526377641150 */
